# --- Global OS/editor ---
.DS_Store
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/*
!.vscode/extensions.json
.idea/

# --- Env files ---
# ignore all .env files but keep example templates
.env
.env.*
!.env.example
!.env.exemple

# --- Root runtime ---
log/
tmp/

# --- Ruby (backend) ---
# bundler and coverage
**/.bundle/
backend/coverage/

# logs and tempfiles for Rails app (keep .keep files)
backend/log/*
!backend/log/.keep
backend/tmp/*
!backend/tmp/.keep

# pidfiles (keep dir and .keep)
backend/tmp/pids/*
!backend/tmp/pids/
!backend/tmp/pids/.keep

# storage (keep .keep files)
backend/storage/*
!backend/storage/.keep
backend/tmp/storage/*
!backend/tmp/storage/
!backend/tmp/storage/.keep

# credentials
backend/config/master.key

# Ruby LSP caches
.ruby-lsp/
backend/.ruby-lsp/

# --- Node/Vite (frontend) ---
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log* 
